.card{
	height: 12rem;
	width: 20rem;
	top: 5%;
	left: 0;
	right: 0;
    margin: 0 auto;
	position: absolute;
    color: white;
    background-color: transparent;
    box-shadow: 0 1rem 3rem rgb(109, 82, 82);
    perspective: 150rem;
    overflow: hidden;
    border: none;
}
.card__container{
	background-image: url("./ezgif-3-d03dc14eed45.webp");
	border-radius: 8px;
    position: relative;
    background-position: top;
    background-size: cover;
    font-weight: 900;
    height: 100%;
    width: 100%;

	transition: transform 1s;
    transform-style: preserve-3d;
}
.card__container--rotation{
	transform: rotateY(180deg);
}
.card__front, .card__back{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1rem;
	height: 100%;
    position: absolute;
    width: 100%;
    backface-visibility: hidden;
    z-index: 1;
}
.card__back{
	transform: rotateY(180deg);
}
/* .card__front{
    transform: rotateY(180deg);
} */

.card__top{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card__chip{
    width: 60px;
    height: 55px;
}
.card__visa{
    width: 60px;
    height: 35px;
}
.card__number span{
    letter-spacing: 2px;
    text-align: center;
	font-size: 1.5rem;
}
.card__bottom{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.card__blackLabel{
	height: 2.5rem;
	width: 100%;
	background-color: #000;
	position: absolute;
	left: 0;
	top: 12%;
}
.card__cvv{
	margin-top: 3.5rem;
	background-color: white;
    width: 50%;
    margin-left: 50%;
    padding: 5px;
    border-radius: 2px;
	color: #212529;
	display: flex;
	justify-content: flex-end;
	padding-right: .3rem;
}
.visa__back{
    width: 80px;
    height: 50px;
    text-align: right;
    display: inline-block;
}



.form__container{
	width: 32vw;
	height: 410px;
	margin: 7rem auto;
	background-color: #fefefe;
	padding: 2rem;
	border-radius: 8px;
	position: relative;
}
.form__card, .card__number, .card__holder, .cvv{
	display: flex;
    flex-direction: column;
    
}
.form__card{
	height: 100%;
    justify-content: flex-end;
    margin-top: 6rem;
}
.form__bottom{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.form__label{
	font-size: .7rem;
	color: #212529;
	font-weight: bold;
}
.form__input, .form__select{
	border: 1px solid rgba(63,63,63,.2);
	border-radius: 4px;
	padding: .8rem;
	margin: .2rem 0 1rem 0; 
	
}
.form__input:focus, .form__select:focus{
	outline-color: #D4EAFD;
}
.card__expirationDate{
	width: 70%;
}
.cvv{
	width: 30%;
}
.form__select{
	width: 35%;
	cursor: pointer;
}
.form__button{
	background-color: #0055D4;
	color: #fff;
	font-size: 1rem;
	padding: .8rem;
	border-radius: 4px;
	margin-top: 1.5rem;
	box-shadow: 2px 2px 15px -4px #0043a7;
	cursor: pointer;
}

.invalidField{
	border-color: rgba(225, 27, 63, .5);
}