*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html{
    font-size: 64%;
}

.wrapper{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.payment__container{
    width: 70%;
    background-color: yellowgreen;
    height: 85%;
    border-radius: 1rem;
    box-shadow: 0 1rem 3rem #777;
    overflow: hidden;
}


.payment__infoDetails{
    width: 35%;
    background-color: red;
}


.payment__cardDetails{
    width: 65%;
}

.payment__selector{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.payment__button{
    padding:10px 20px;
    border-radius: 6px;
    font-size:1.6rem;
    border: none;
    position: relative;
    box-shadow: 0 1rem 5rem #777;
    
}



.payment__button:not(:last-child){
    margin-right: 3rem;
}

.payment__card{
    width: 60%;
    height:35%;
    margin:2rem auto;
    position: relative;
}
.payment__side{
    width: 100%;
    height:100%;
    border-radius: .5rem;
    background-color: red;
    perspective: 150rem;
    transition:  all 1s ;
    backface-visibility: hidden;
    box-shadow: 0 1rem 2rem rgb(37, 37, 37);
    position: absolute;
    cursor: pointer;
}
.payment__card--front{
    /* background: url('./ezgif-3-d03dc14eed45.webp');
    background-position: center;
    background-size: cover;
     */
     background-color: yellow;
}

.payment__card__chip{
    width: 40%;
    height: 40%;
}

.payment__card--back{
    transform: rotateY(180deg);
    background-color: red;
}

.payment__card:hover .payment__card--front{
    transform: rotateY(-180deg);
}
.payment__card:hover .payment__card--back{
    transform: rotateY(0);
}











