@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

*{
	margin: 0;
	border: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans JP', sans-serif;
}

body{
    /* background-color: red; */
    
   
}

.wrapper{
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}
.wrapper-container{
    height: 90%;
    display: flex;
    flex-direction: column;
    width: 85%;
    /* padding: 3rem; */
    /* background-color: #3F7CCD; */
    border-radius: 5px;
    /* border: .7rem solid black; */
    /* box-shadow: 0 2rem 5rem #777; */
    /* overflow: hidden; */
}
.headings{
    text-align: center;
    padding: 10px;
}
.sub-content{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.left-half{
    width: 50%;
    height: 100%;
    padding: .5rem;
}

.payment__options{
    height: 95%;
    background-color: #FDFFFC;
    margin: 0 auto;
    border-radius: 10px;
    color: black;
    padding: 1rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.534);
}
.card__images{
    width: 50px;
    height: 25px;
    margin-right: .5rem;
}

.accordion button{
    text-decoration: none;
}



.right-half{
    width: 50%;
    position: relative;
    height: 100%; 
    padding: .5rem;
}
.info__details{
    height: 95%;
    background-color: #FDFFFC;
    margin: 0 auto;
    border-radius: 10px;
    color: black;
    padding: 1rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.534);
}

/* .info__form{

} */

/* TAB LAYOUT */
